<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.dao.StudentMapper">
    <resultMap id="StudentMap" type="Student">
        <id property="id" column="id"></id>
        <result property="gradeId" column="grade_id"/>
        <result property="studentName" column="student_name"/>
        <result property="studentNum" column="student_num"/>
    </resultMap>
    <select id="queryAll" resultMap="StudentMap">
        select * from student
    </select>
    <select id="queryCount" resultType="integer">
        select count(*) from student
    </select>
    <insert id="insertStudent" parameterType="Student">
        insert into student (grade_id,student_name,gender,age,student_num) values (#{gradeId},#{studentName},#{gender},#{age},#{studentNum})
    </insert>
    <update id="updateStudent" parameterType="Student">
        update student set grade_id=#{gradeId},student_name=#{studentName},gender=#{gender},age=#{age},student_num=#{studentNum} where id=#{id}
    </update>
    <delete id="deleteStudent" parameterType="integer">
        delete from student where id=#{id}
    </delete>
</mapper>