<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.dao.RepliesMapper">
    <insert id="insertReplies" parameterType="Replies">
        INSERT INTO `replies` (`content`,`replyTime`,`infoId`) VALUES (
        #{content},NOW(),#{infoId}
        )
    </insert>
</mapper>