<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.dao.UserMapper">
    
    <resultMap id="userMap" type="User">
        <id property="id" column="id"></id>
        <result property="userName" column="user_name"></result>
        <result property="nickName" column="nick_name"></result>
    </resultMap>
    
    <select id="queryAll" resultMap="userMap">
        select * from t_user order by id
    </select>

    <select id="queryById" resultMap="userMap">
        select * from t_user where id=#{id}
    </select>

    <insert id="save" parameterType="User">
        INSERT INTO t_user
        (user_name,PASSWORD,nick_name)
        VALUES(#{userName},#{password},#{nickName})
    </insert>

    <update id="update" parameterType="User">
        UPDATE t_user
        SET user_name=#{userName},
        PASSWORD=#{password},
        nick_name=#{nickName}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from t_user where id=#{id}
    </delete>

</mapper>