<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.dao.BlogMapper">
    <resultMap id="blogMap" type="Blog">
        <id property="id" column="id"></id>
        <result property="userId" column="userid"/>
        <result property="publishTime" column="publishtime"/>
    </resultMap>
    <select id="selectAll" resultMap="blogMap">
        select * from blog
    </select>
    <delete id="deleteBlog" parameterType="integer">
        delete from blog where id=#{id}
    </delete>
    <insert id="insertBlog" parameterType="Blog">
        INSERT INTO `blog` (`content`,`publishtime`,`userid`) VALUES(#{content}, #{publishTime},#{userId})
    </insert>
    <update id="updateBlog" parameterType="Blog">
        update blog set content=#{content},publishtime=#{publishTime},userid=#{userId} where id=#{id}
    </update>
</mapper>