<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.dao.ScoreMapper">
    <resultMap id="scoreMap" type="cn.kgc.vo.Score">
        <id column="id" property="id"></id>
    </resultMap>
    <select id="select" resultMap="scoreMap">
select s.id,stu.student_num,stu.student_name,c.course_name,s.score from course c ,score s , student stu where stu.id=s.student_id and s.course_id=c.id
    </select>
</mapper>